@tailwind base;
@tailwind components;
@tailwind utilities;

/* Twinkling Rhinestone Effect */
.twinkling-background {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #1e293b; /* Dark mode background */
  color: #e2e8f0;
}


@layer base {
  :root {
    --background: /*#e2e8f0;*/
    --foreground: /*#1e293b;*/

    --card: #cbd5e1;
    --card-foreground: #334155;

    --popover: #cbd5e1;
    --popover-foreground: #334155;

    --primary: #0891b2;
    --primary-foreground: #22d3ee;

    --secondary: #65a30d;
    --secondary-foreground: #a3e635;

    --muted: #475569;
    --muted-foreground: #94a3b8;

    --accent: #c026d3;
    --accent-foreground: #e879f9;

    --destructive: #dc2626;
    --destructive-foreground: #f87171;

    --border: #cbd5e1;
    --input: 2#cbd5e1;
    --ring: #cbd5e1;

    --radius: .3rem;
  }

  .dark {
    --background: /*#1e293b;*/
    --foreground: /*#e2e8f0;*/

    --card: #334155;
    --card-foreground: #cbd5e1;

    --popover: #334155;
    --popover-foreground: #cbd5e1;

    --primary: #22d3ee; 
    --primary-foreground: #0891b2;

    --secondary: #a3e635;
    --secondary-foreground: #65a30d;

    --muted: #94a3b8;
    --muted-foreground: #475569;

    --accent: #e879f9;
    --accent-foreground: #c026d3;

    --destructive: #f87171;
    --destructive-foreground: #dc2626;

    --border: #334155;
    --input: #334155;
    --ring: #334155;

    /* Twinkling Effect Adjustments for dark mode*/
    --twinkling-dot-color: rgba(255, 255, 255, 0.2);
    
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dark body {
    /* Twinkling Effect for dark mode*/
    background-image: radial-gradient(circle, var(--twinkling-dot-color) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #1e293b; /* Dark mode background */
    color: #e2e8f0;
  }

    /* Twinkling Effect for light mode*/
   body {
    background-image: radial-gradient(circle, rgba(128, 128, 128, 0.3) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: #e2e8f0; /* light mode background */
  }
}
